bower_components/
tests/
tmp/
dist/

.bowerrc
.gitattributes
.editorconfig
.ember-cli
.travis.yml
.npmignore
**/.gitkeep
ACCEPTED-CLAS.md
bower.json
CHANGELOG.md
CLA-CORPORATE.md
CLA-INDIVIDUAL.md
CONTRIBUTING.md
ember-cli-build.js
LICENSE.md
README.md
RELEASE-INSTRUCTIONS.md
testem.json
